.main-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 8vh);
  padding-top: 8vh;

  .button-container {
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
    justify-content: center;
    align-items: center;
  }
}
