.main-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 8vh);
  padding-top: 8vh;

  .footer-container {
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
    justify-content: space-around;
    align-items: center;

    .add-hero-button {
      font-size: 4vh;
      height: 90px;
      --mat-button-tonal-container-color: black;
      --mat-button-tonal-label-text-color: rgb(245, 245, 4);
    }
  }
}
