@import "../../../../styles.scss";

.table-wrapper {
  height: 370px;
  background-color: $primaryColor;
  margin-right: 20px;

  table {
    cursor: pointer;
    background-color: black;
  }

  td,
  th {
    color: white;
  }
}

.pagination-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;

  button:not(:disabled) {
    background-color: black;
  }

  p {
    color: white;
    font-weight: bold;
  }
}
