<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ selectedHero().name }}</mat-card-title>
    </mat-card-header>

    <app-hero-image [heroImage]="selectedHero().pictureUrl" />

    <mat-card-content class="description-container">
      <p>{{ selectedHero().description }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="emitChangeHero(NextOrPrevious.PREVIOUS)">
        Previous
      </button>
      <button mat-button (click)="emitEditHero()">Edit</button>
      <button mat-button (click)="emitChangeHero(NextOrPrevious.NEXT)">
        Next
      </button>
    </mat-card-actions>
  </mat-card>
</div>
