form {
  height: 60px;

  --mat-form-field-filled-container-color: black;
  --mat-form-field-filled-input-text-color: white;
  --mat-form-field-filled-label-text-color: white;

  .search-button {
    border-radius: 70%;
    margin-left: 20px;
    height: 40px;
    background-color: black;

    button {
      cursor: pointer;
      background: transparent;
      border: 0px;

      --mat-icon-color: white;
    }
  }
}
